@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-custom-black: #18181a;
  --color-custom-white: #fdfdfd;
  --color-custom-gray: #b8b8b9;
  --color-custom-brown: #f6ece4;
}

* {
  font-family: "Chivo Mono", monospace;
  font-optical-sizing: auto;
}

::-webkit-scrollbar {
  width: 5px;
  height: 2.5px;
}

::-webkit-scrollbar-track {
  background: #a8a8a8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #909091;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #796f67;
}

.typewriter {
  margin-inline: auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid var(--color-custom-gray);
  animation: typing 8s steps(45) forwards,
    blink 1s step-end infinite;
  /* animation: name duration timing-function delay iteration-count direction fill-mode;
     */
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    /* width: 100%; */
    width: 14ch;
    /* border-right: transparent; */
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}